<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>675896022017-koioiequ7f3hd8osl1h0v0vj8rm8vrqh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675896022017-koioiequ7f3hd8osl1h0v0vj8rm8vrqh</string>
	<key>API_KEY</key>
	<string>AIzaSyDLZ8GpjybIwkmkiFMGvOICYKfSLRc41ms</string>
	<key>GCM_SENDER_ID</key>
	<string>675896022017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jiraniMobileApp</string>
	<key>PROJECT_ID</key>
	<string>jirani-outfitters</string>
	<key>STORAGE_BUCKET</key>
	<string>jirani-outfitters.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675896022017:ios:20999c54a4e8649c705c00</string>
</dict>
</plist>